data/hetio*
Toy_example/data/hetio_CudG_org.txt
Toy_example/data/hetio_DudG_org.txt
Toy_example/data/hetio_GiG_org.txt
/Toy_example/data/hetio_CudG_org.txt
/Toy_example/data/hetio_DudG_org.txt
/Toy_example/data/hetio_GiG_org.txt
